/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 6:38:09 PM
    Author     : daniel.adamis
*/

* {
    objs-bg-color: white;
    borders-color: #373d49;
    text-color: #000000;
    
    txf-bg-color-focused: #595959;
    text-color-focused: #e6e6e6;
}

.label {
    -fx-text-fill: #1f2429;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.pane {
     -fx-base: objs-bg-color;
     -fx-text-fill: #1f2429;
     -fx-fill: #1f2429;
}

.tab-pane .tab {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 50%, radius 100%, rgba(114,131,148, .9), rgba(255,255,255, 0));
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, .6), 5, .0, 0, 1);
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    

}

.tab-pane .tab:selected {
    -fx-background-color: objs-bg-color;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 50%, radius 100%, rgba(114,131,148, .9), rgba(255,255,255, 0));
    -fx-border-style: dashed;
}

.text-field, .text-area {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148, .9), rgba(255,255,255, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, .6), 5, .0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.text-area {
    -fx-text-fill: linear-gradient(black, #d0d0d0);
}

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148, .9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, .6), 5, .0, 0, 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.button:pressed {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 50%, radius 50%, rgba(114,131,148, .9), rgba(255,255,255, 0));
}

.button:disabled {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148, .1), rgba(255,255,255, .2));
    -fx-text-fill: linear-gradient(gray, #d0d0d0);
}

.grid-pane {
    -fx-grid-lines-visible: false;
    -fx-padding: 5 22 5 22;
    -fx-border-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148, .9), rgba(255,255,255,0));;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, .6), 5, .0, 0, 1);
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

/* NOT YET */

.menu-bar {
    -fx-background-color: derive(objs-bg-color,20%);
}

.context-menu {
    -fx-background-color: derive(objs-bg-color,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: text-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

