/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 6:38:09 PM
    Author     : daniel.adamis
*/

.background {
    -fx-background-color: #1d1d1d;
}

.text {
    -fx-font-family: "Segoe UI Light", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-fill: white;
}

.label {
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-opacity: 1;
}

.label-header .text {
    -fx-font-size: 20pt;
    -fx-opacity: 1;
}

.tab-pane {
    -fx-base: transparent, derive(#1d1d1d,20%);
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-padding: 5;
}

.tab-pane .tab:selected {
    -fx-background-color: #1d1d1d;
    
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.text-field {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 5px;
}

.text-field:focused {
    -fx-background-color: black;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed {
  -fx-background-color: black;
  -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: white;
    -fx-border-width: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.grid-pane {
   
    -fx-grid-lines-visible: true;
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

/* NOT YET */

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

