/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 6:38:09 PM
    Author     : daniel.adamis
*/

* {
    btn-hover-color: #AC3E3E;
    btn-pressed-color: #8D0000;
    
    
    objs-bg-color: #D0BDBD;
    border-color: #BD8979;
    text-color: #000000;
    
    txf-bg-color-focused: #AC3E3E;
}

.background {
    -fx-background-color: objs-bg-color;
}

.text {
    -fx-font-family: "Segoe UI Light", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: text-color;
    -fx-fill: text-color;
}

.label {
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-opacity: 1;
}

.label-header .text {
    -fx-font-size: 20pt;
    -fx-opacity: 1;
}

.tab-pane {
    -fx-base: transparent, derive(objs-bg-color,20%);
    -fx-control-inner-background: objs-bg-color;
    -fx-background-color: objs-bg-color;
    -fx-padding: 5;
}

.tab-pane .tab:selected {
    -fx-background-color: objs-bg-color;
    
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: objs-bg-color objs-bg-color objs-bg-color objs-bg-color;
    -fx-background-color: transparent, derive(objs-bg-color,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.text-field, .text-area {
    -fx-padding: 5 22 5 22;
    -fx-border-color: border-color;
    -fx-border-width: 2;
    -fx-text-fill: text-color;
    /*-fx-background-insets: 0 0 0 0, 0, 1, 2;*/
    -fx-border-radius: 5px;
    -fx-background-color: objs-bg-color;
    -fx-opacity: 0.8;
}

.text-field:focused, .text-area:focused {
    -fx-background-color: txf-bg-color-focused;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: border-color;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: objs-bg-color;
    -fx-text-fill: text-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: btn-hover-color;
}

.button:pressed {
  -fx-background-color: btn-pressed-color;
}

.button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: objs-bg-color;
    -fx-text-fill: text-color;
}

.grid-pane, .anchor-pane {
    -fx-grid-lines-visible: true;
    -fx-padding: 5 22 5 22;
    -fx-border-color: border-color;
    -fx-border-width: 2;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

/* NOT YET */

.menu-bar {
    -fx-background-color: derive(objs-bg-color,20%);
}

.context-menu {
    -fx-background-color: derive(objs-bg-color,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: text-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

